server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://{DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:labpoint}
    username: ${DB_USERNAME:labpoint}
    password: ${DB_PASSWORD:labpoint}
  
  flyway:
    enabled: true

# --- OpenAPI / Swagger / Scalar ---
springdoc:
  api-docs:
    enabled: true
    path: /v1/api.json
  swagger-ui:
    enabled: true
    path: /v1/swagger-ui.html
  scalar:
    path: /v1/docs

scalar:
  path: /v1/docs