server:
  port: ${PORT:80}

spring:
  datasource:
    url: jdbc:postgresql://{DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:labpoint}
    username: ${DB_USERNAME:labpoint}
    password: ${DB_PASSWORD:labpoint}

  flyway:
    enabled: false

# --- OpenAPI / Swagger / Scalar ---
springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false
  scalar:
    path: /v1/docs

scalar:
  enabled: false